html, body {
  height: 100%;
  margin: 0;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  height: 100vmin;
  width: 100vmin;
}

#fieldCanvas {
  background: azure;
  height: 100vmin;
  width: 50vmin;
 }

#nextCanvas {
  background: purple;
  height: 25vmin;
  width: 25vmin;
}