html, body {
  height: 100%;
  margin: 0;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  height: 100vmin;
  width: 100vmin;
}

#fieldCanvas {
  background: Azure;
  height: 100vmin;
  width: 50vmin;
 }

 #nextContainer {
   display: flex;
   flex-direction: column;
   height: 100vmin;
   width: 20vmin;
 }

.nextPadding {
  background: AliceBlue;
  height: 5vmin;
  width: 20vmin;
}

.nextPaddingText {
  position: absolute;
  height: 5vmin;
  width: 20vmin;
}

.nextCanvas {
  background: AliceBlue;
  height: 20vmin;
  width: 20vmin;
}