html, body {
  height: 100%;
  margin: 0;
}

#gameContainer {
  display: none;
  flex-direction: row;
  height: 100vmin;
  width: 90vmin;
}

#fieldCanvas {
  background: Azure;
  height: 100vmin;
  width: 50vmin;
}

/*
Next
*/

#nextContainer {
  display: flex;
  flex-direction: column;
  height: 100vmin;
  width: 20vmin;
}

.nextPadding {
  background: AliceBlue;
  height: 5vmin;
  width: 20vmin;
}

.nextPaddingText {
  position: absolute;
  height: 5vmin;
  width: 20vmin;
}

.nextCanvas {
  background: AliceBlue;
  height: 20vmin;
  width: 20vmin;
}

/*
Stats
*/

#statContainer {
  display: flex;
  flex-direction: column;
  height: 100vmin;
  width: 20vmin;
}

.statPadding {
  background: GhostWhite;
  height: 5vmin;
  width: 20vmin;
}

.statPaddingText {
  position: absolute;
  height: 5vmin;
  width: 20vmin;
}

/*
Menu
*/

#menu {
  display: flex;
  flex-direction: column;
  height: 100vmin;
  width: 50vmin;
}

#menuStats {
  display: none;
  flex-direction: column;
  height: 100vmin;
  width: 50vmin;
}

#startButton {
  font-size: xx-large;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
}